# Usage: terraform init -backend-config=backend.hcl
# The S3 bucket must already exist.
# Each person uses their own email in the key path.

bucket  = "emeafet-terraform-tfstates"
key     = "you@example.com/default/terraform.tfstate"
region  = "eu-west-2"
encrypt = true
